 @font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica_rg-webfont.eot');
    src: url('fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('fonts/coolvetica_rg-webfont.svg#coolvetica_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0;box-sizing: border-box; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: arial, sans-serif;
    color: #fff;
    background: url(images/body.png) repeat 0 0;
    min-width: 980px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell {  width: 1510px; height:auto; margin:auto; border: solid 1px slateblue; border-radius: 5px; text-decoration: none;}
.light-bg { background: url(images/light.png) no-repeat center 0; }

#wrapper {width: 100%; height: 1600px; background:#F0FFFF repeat-x 0 0; }
.header { padding-top: 0px; position: relative; color: white; }
.socials { position: absolute; top: 0; right: -10px; width: 85px; }
.socials a { background: url(images/socials.png) no-repeat 0 0; width: 19px; height: 19px; float: left; font-size: 0; line-height: 0; text-indent: -4000px; margin: -6px 7px 0 0; position: relative;  
	transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-webkit-transition: margin 0.2s;
	-o-transition: margin 0.2s;
}
.socials a.facebook-ico { background-position: 0px 0; }
.socials a.twitter-ico { background-position: -20px 0; }
.socials a.you-tube-ico { background-position: -60px 0; }
.socials a:hover { margin-top: 0; }


#logo {border: none; margin-left: 10px; width: 272px; font-size: 0; line-height: 15; float: left; padding-top: 20px; padding-bottom: -10px;  }
#logo img {border:none; text-align:center; width: 272px; height: 70px;border-radius: 7px;}
#logo a { text-align: center; height: 60px; border: solid; background: white no-repeat 0 0; text-indent: -4000px; display: block; }

#navigation {width: 1200px; height:60px; padding: 5px 5px 5px 5px;border-radius: 4px; margin-top: 10px; position: relative; margin-right: 5px;  background: slateblue no-repeat 0 0; font-family: "Times New Roman" ,serif;  font-size: 15px; float: right; }
#navigation ul {list-style-position: inside; line-height: 46px; border-radius: 4px;}
#navigation ul li { float: left; background: slateblue no-repeat right 5px; padding-right: 1px;  border-radius: 2px; display: block; font-size: 18px; font-family: "Times New Roman"; }
#navigation ul li a { display: block; color: white; font-weight: bold; padding: 0 30px; position: relative; font-size: 25px; font-family: "Times New Roman"; }
#navigation ul li a:hover{color:blue; font-size: 20px; background:#F0F8FF; text-decoration:underline; box-shadow: 0px 0px 4px rgba(0,0,0,0.4) inset; -moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.8) inset; -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.8) inset; -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.8) inset; border-radius: 4px;}
#navigation ul li.last a:hover {background: #6A5ACD repeat-x 0 0; text-decoration: none; }
#navigation ul li.last { background: transparent; padding-right: 0;  }
#navigation ul li.last a { padding-right: 33px; padding-left: 33px; border-right: 0; background: transparent; }
#navigation ul li a span { background: #87CEEB no-repeat 0 0; opacity: 0;
-moz-opacity: 10; filter:alpha(opacity=0); text-shadow: rgba(255,255,255,0.9) 0px 1px 0px; width: 39px; height: 39px; position: absolute; top: -17px; right: 0; text-align: center; line-height: 39px; font-size: 14px; color: #383838; transition: opacity 0.4s; -moz-transition: opacity 0.4s; -webkit-transition: opacity 0.4s; -o-transition: opacity 0.4s;
}
#navigation ul li a:hover span { display: block; opacity: 5; -moz-opacity: 1; filter:alpha(opacity=100);}

.main { padding-top: 20px; padding-bottom: 5px;  background: url(images/main-shadow.png) no-repeat center bottom; }
.main h3 { color: black; font-size: 20px; font-family: 'coolvetica', arial, helvetica, serif; font-weight: normal; text-shadow: rgba(0,0,0,0.9) 0px 0px 2px; }
.main h2 { margin: 10px; color: black; font-size: 20px; font-family: 'arial bold', arial, helvetica, serif; font-weight: bold; text-shadow: rgba(0,0,0,0.5) 0px 0px 2px; }
.main h2 a { margin: 10px; color: black; }
.main h2 a:hover { text-decoration: none; color: blue; }
.content { width: 1220px; position: relative; float: right; }
.post { background: white  repeat 0 0; margin-bottom: 20px; margin-top: 5px; border-radius: 5px; padding: -10px; box-shadow: 0px 0px 2px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2); -o-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);   }
.post-inner { background: 	#F0F8FF repeat 0 0; padding: 15px 15px 20px 15px;  border-radius: 10px;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 3px; box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.6) inset; -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.1) inset;  
}
.post-inner header {border: solid 1px; border-radius: 5px; background: slateblue; outline-color: lightgray;}
.post-inner .header a{opacity: 0.8; color: white; text-shadow: none; float: right; align-content: center; display:block; font-size: 22px; padding: 3px;margin-top: 2px;margin-right: 10px;}
.post-inner .header a:hover{opacity: 1;color:yellow; font-size: 23px;}
.post-inner .header p{float: right; padding: 5px; margin-bottom:-15px;margin-top: 0px;}
.post-inner .content-area { margin: 5px; background: white repeat 0 1; border: solid 2px black; padding: 10px; display: block;  border-radius: 6px; }
.post-inner .content-area .gallery{border: solid; border-radius: 5px; width: 120px; height: 100px; background: lightgray; margin: 5px;}
.post-inner .content-area .gallery img {margin: 0.5px; border-radius: 5px; border: solid 1px black;text-align:center; width: 120px; height: 100px;}
.post-inner .content-area .gallery img:hover {border-radius: 5px;}
.post-inner .content-area .gallery .desc{padding: 0px;text-align: center;font-size: 10px;}


.post-inner .content-area a.btn-full-image { display: block; position: absolute; bottom: 05px; right: 5px;  width: 89px; height: 25px; color: black; font-size: 10px; line-height: 25px; padding: 8px 0 13px; background: url(images/btn-full-image.png) no-repeat 0 0; }
.post-inner .content-area a.btn-full-image span { padding-right: 22px; background: yellow color: blue no-repeat right 0; }
.post-inner .content-area a.btn-full-image:hover { color: #0acc00; text-decoration: none; }

.form input{padding: 05px;  border-radius: 4px; margin: 8px 0; box-sizing: border-box;border: solid 1px;}


.post-inner h2 { float: left; color: black; font-size: 25px;text-decoration: blink; color: blue}
.post-inner h3{float: left; font-size: 10px;}

.post .meta { font-size: 9px; color: #bdbdbd; text-transform: uppercase; padding-bottom: 13px; }
.post .meta .right { width: 225px; }
.post .meta p.date { color: #838383; float: left; }
.post .meta p.date a { text-decoration: underline; color: #dbdbdb; }
.post .meta p.date a:hover { text-decoration: none; }
.post .meta a.comments { float: right; color: #bdbdbd; background: url(images/comments-ico.png) no-repeat 0 8px; padding-left: 16px; }
.post .meta .rating-holder { float: left; }
.post .meta .rating-holder p { float: left; }
.post .meta .rating { float: left; background: url(images/rating.png) no-repeat 0 0; width: 85px; height: 15px; margin-top: 4px; margin-left: 4px; position: relative;  }
.post .meta .rating span { background: url(images/rating.png) no-repeat 0 bottom; height: 15px; display: block; position: absolute; top: 0; left: 0; }

.post .post-cnt p { padding-bottom: 10px;  }
.post a.more { color: #1cfe10; background: url(images/list-arr.png) no-repeat 0 4px; padding-left: 9px; }
.post a.more:hover { color: #0acc00; text-decoration: none; }

.sidebar { width: 280px; float: left; font-size: 15px; }
.sidebar .widget {border-radius: 5px; margin-left: 5px; background: #F8F8FF repeat 0 0; margin-bottom: 15px;  padding: 7px; box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,4); -o-box-shadow: 0px 0px 15px rgba(0,0,0,2);  }
.sidebar .widget h3.widgettitle { font-family: serif; background:slateblue no-repeat 0 0; height: 50px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border: solid 1px black; line-height: 53px;  text-align: center; font-size: 25px;  color:yellow;}
.sidebar .widget ul {background: green; list-style: none; list-style-position: outside; }
.sidebar .widget li { background:#F8F8FF repeat-x 0 0;border-radius: 10px; color: black;}
.sidebar .widget li.first { background: transparent }
.sidebar .widget li a {display: block; padding: 8px 20px 8px 20px; color: black; position: relative;background:white;font-size: 18px;}
.sidebar .widget li a:hover { background-color:#B0C4DE; text-decoration: none; box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset; -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4) inset; -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset; -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset;  }



.pagination ul { margin-top: 35px; list-style: none; list-style-position: outside; line-height: 12px;  }
.pagination ul li { float: left; font-weight: bold; font-size: 12px;background: white repeat 0 0; padding: 1px; margin-right: 30px; 
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; box-shadow: 0px 0px 4px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4); -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.4); 
}
.pagination ul li a { color: black; padding: 9px 12px 8px 11px; text-shadow: rgba(0,0,0,0.9) 1px 1px 0px; background: url(images/patern.png) repeat 0 0; display: block; 
    border-radius: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset; -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset; -o-box-shadow: 0px 0px 8px rgba(0,0,0,0.6) inset; 
}
.pagination ul li a:hover, 
.pagination ul li.active a {text-decoration: none; background: blue repeat 0 0; color: #1cfc11;  }
.pagination ul li.laquo a ,
.pagination ul li.raquo a { padding: 12px 10px 9px 10px;  }
.pagination ul li.laquo a span { background: url(images/laquo.png) no-repeat 0 0; width: 11px; height: 8px; display: block; }
.pagination ul li.raquo a span { background: url(images/raquo.png) no-repeat 0 0; width: 11px; height: 8px; display: block; }
.pagination ul li.dots { background: transparent; padding-top: 18px; box-shadow: 0px 0px 0px ; -moz-box-shadow: 0px 0px 0px ; -webkit-box-shadow: 0px 0px 0px ; -o-box-shadow: 0px 0px 0px ; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -o-border-radius: 0px; }

.footer {margin-top: 5px;  padding: 15px;  padding-top: 20px; border: solid 2px; border-radius: 6px; background: lightgray; }
.footer:after { content:''; display: block; width: 100%; clear: both; font-size: 25px; line-height: 0; text-indent: center; }

.footer-nav { float: left; }
.footer-nav ul { list-style: none; list-style-position: outside;  }
.footer-nav ul li { float: left; line-height: 11px;  border-left: 1px solid #616161; padding: 0 10px; font-size: 20px;}
.footer-nav ul li a { color: black; }
.footer-nav ul li a:hover { color:blue ; text-decoration: underline;}
.footer-nav ul li.first { padding-left: 0; border: 0; }

.footer p.copy { float: right; color: #989898; font-size: 20px;  line-height: 11px; }
.footer p.copy span { padding: 0 10px; color: #616161; }
.footer p.copy a { color: #e0e0e0; text-decoration: underline; }
.footer p.copy a:hover { color: violet; text-decoration: none; }




* {
    
}

/* Create two equal columns that floats next to each other */
.post-inner .content-area .column1 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 100%;
    border:ridge;
 /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.post-inner .content-area .row1:after {
    content: "";
    display: table;
    clear: both;
}

/* All Pages Form and Element Desing*/
.border{width: 98%; padding:0px; margin-right: 2px;margin-left:2px;}
.border .form form{ margin: 2px;  font-family: Raleway;  padding: -2px;align-content: center;}
 
.border .form fieldset{padding: 2px; border-radius: 5px;}
.border .form h1{ color:black; padding: 2px; display: block;text-align: center; text-shadow: none;  font-weight: bold;  font-size: 30px; border-radius: 5px; }
/* Form Text,radio, chechk box, button desing*/
.border .form input[type="text"]{width: 80%;  padding: 7px; font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}
.border .form input[type="number"]{width: 80%;  padding: 7px; font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}
.border .form input[type="email"]{width: 80%;  padding: 7px; font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}
.border .form input[type="password"]{width: 80%;  padding: 7px; font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}
.border .form input[type="file"]{width: 80%;  padding: 7px; font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}

.border .form input[type="radio"]{width: auto;}
.border .form input[type="date"]{padding: 2px;  font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}
.border .form textarea{padding: 2px;  font-size: 17px;  border: 1px solid #aaaaaa;  border-radius: 3px;  margin-right: 20px; float: left;}

.border .form select{padding: 7px; width: 85%; font-size: 17px; border:1px solid #aaaaaa; border-radius: 3px; margin-left: 0px;}
.border .form input[type="text"]:hover{background: #FAFAD2;border-color: dodgerblue;}
.border .form input[type="Password"]:hover{background: #FAFAD2;border-color: dodgerblue;}

.border .form select:hover{background: #FAFAD2;border-color: dodgerblue;}
.border .form label{padding: 5px;margin-right: 5px; width:auto; font-size: 20px; color: black; text-shadow: none; text-shadow: none; text-align: left;}
.border .form button { background: blue;padding: 5px; font-size: 19px; border-radius: 5px; font-family: Raleway;  cursor: pointer;margin: 5px; opacity: 0.8;  float: left;}
   /* Link inside Form Desing*/
.border .form button:hover {opacity: 1; color: yellow;text-decoration:underline; background: green;}
.border .form a{ padding:0px;  margin: 5px;  float: left; font-size: 20px;}
.border .form a:hover{ color:red;}
.border .form table{ border:solid 2px blue; border-radius: 5px; height:auto;padding: 5px; float: left; margin: 2%; border: solid 1px mediumseagreen;}
.border .form legend{color: black; font-size: 22px; text-align: center; text-decoration: underline}
.border .form legend : hover{color: violet;}
.border .form .column{margin: 11px; width: 100%; padding: 10px; float: left; border: solid 2px;height: 100%; }
.border .form .row : after{ content: ""; clear: both; display: table;}
.border .form .tab {display: none;}
.row1 .column1 p{ color: black; font-size: 25px; text-shadow: none; align-content: center; }